@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');

:root {
  --primary-color: rgb(13, 214, 184);
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --background-color: #f9f9f9;
  --border-color: #dbdbdb;

  // default layout
  --default-layout-header-height: 75px;
  --default-layout-width: 1140px;
  --default-layout-header-hgap: 12px;
  // //  header
  --header-wrapper-logo-width: 285px;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  box-sizing: border-box;
  background-color: var(--background-color);
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
  color: var(--text-color);
}
