.wrapper {
  --search-border-radius: 92px;
  --search-width: 400px;
  --search-height: 50px;
  --search-btn-width: 52px;
  --search-top-space: 9px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-header-hgap);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-logo {
  width: var(--header-wrapper-logo-width);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 60px;
  height: 62px;
  object-fit: cover;
  margin-right: 16px;
}

.logo-title {
  color: var(--primary-color);
  font-size: 2.8rem;
  font-weight: 700;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-btn {
  font-size: 2rem;
  font-weight: 700;
  padding: 6px 14px;
  margin-left: 8px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.user-avatar {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.action-btn {
  display: flex;
  font-size: 2.2rem;
  line-height: 2.2rem;
  padding: 10px 10px;
  width: 50px;
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
}
